<footer class="footer" id="footer">
  <div class="container">
    <div class="module">
      <div class="abouth">
        <div class="icon-logo">
          <svg class="icon">
            <use xlink:href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </div>
        <address class="address">
          <ul class="contact">
            <li class="contact-item">
              <a class="link2" href="tel:+380665438912">+38 066 543 8912</a>
            </li>
            <li class="contact-item">
              <a class="link2" href="address"
                >1678 S. Pioneer Road Salt Lake City UT 84104</a
              >
            </li>
          </ul>
        </address>
      </div>

      <div class="more">
        <div class="social">
          <ul class="social-list">
            <li class="social-item">
              <a
                class="link2"
                href="https://www.instagram.com/goit.turkiye/"
                target="_blank"
                >INSTAGRAM</a
              >
            </li>
            <li class="social-item">
              <a
                class="link2"
                href="https://www.facebook.com/people/GOIT-T%C3%BCrkiye/61558036560161/"
                target="_blank"
                >FACEBOOK</a
              >
            </li>
            <li class="social-item">
              <a
                class="link2"
                href="https://m.youtube.com/@GoITTurkey"
                target="_blank"
                >YOUTUBE</a
              >
            </li>
          </ul>
        </div>
        <div class="menu">
          <ul class="menu-list">
            <li class="menu-item">
              <a class="link2" href="#about">ABOUT US</a>
            </li>
            <li class="menu-item">
              <a class="link2" href="#ourcourses">OUR COURSES</a>
            </li>
            <li class="menu-item">
              <a class="link2" href="#ourmentors">OUR MENTORS</a>
            </li>
            <li class="menu-item">
              <a class="link2" href="#reviews">REVIEWS</a>
            </li>
            <li class="menu-item">
              <a class="link2" href="#contacts">CONTACTS</a>
            </li>
          </ul>
        </div>
      </div>

      <form class="request-form">
        <input
          type="email"
          class="request-input"
          placeholder="Enter your email"
          required
        />
        <button type="submit" class="request-button">Go</button>
      </form>
    </div>
  </div>

  <div class="copyright">
    <div class="privacy">
      <p class="privacy-text">Privacy Policy</p>
      <p class="privacy-text">Public Offerring Agreement</p>
    </div>
    <div class="copyright-text">
      <p>2024 Focus Frame</p>
      <p>&#169; All rights reserved</p>
    </div>
  </div>
</footer>
