<footer class="footer">
  <div class="container">
    <div class="module">
      <div class="abouth">
        <div class="icon-logo">
          <svg class="icon">
            <use xlink:href="./img/sprite.svg#icon-logo"></use>
          </svg>
        </div>
        <address class="address">
          <ul class="contact">
            <li class="contact-item">
              <a class="link" href="tel:+1234567890">+1 234 567 890</a>
            </li>
            <li class="contact-item">
              <a class="link" href="address"
                >1234 Street Name, City, State, 12345</a
              >
            </li>
          </ul>
        </address>
      </div>

      <div class="more">
        <div class="social">
          <ul class="social-list">
            <li class="social-item">
              <a class="link" href="https://www.instagram.com" target="_blank"
                >INSTAGRAM</a
              >
            </li>
            <li class="social-item">
              <a class="link" href="https://www.facebook.com" target="_blank"
                >fACEBOOK</a
              >
            </li>
            <li class="social-item">
              <a class="link" href="https://www.youtbe.com" target="_blank"
                >YOUTUBE</a
              >
            </li>
          </ul>
        </div>
        <div class="menu">
          <ul class="menu-list">
            <li class="menu-item">
              <a class="link" href="#about">ABOUT US</a>
            </li>
            <li class="menu-item">
              <a class="link" href="#ourcourses">OUR COURSES</a>
            </li>
            <li class="menu-item">
              <a class="link" href="#ourmentors">OUR MENTORS</a>
            </li>
            <li class="menu-item">
              <a class="link" href="#reviews">REVIEWS</a>
            </li>
            <li class="menu-item">
              <a class="link" href="#contacts">CONTACTS</a>
            </li>
          </ul>
        </div>
      </div>
    
    <form class="request-form">
      <input
        type="email"
        class="request-input"
        placeholder="Enter your email"
        required
      />
      <button type="submit" class="request-button">Go</button>
    </form>
  </div>
  </div>

  <div class="copyright">
    <div class="privacy">
      <p class="privacy-text">Privacy Policy</p>
      <p class="privacy-text">Public Offerring Agreement</p>
    </div>
    <div class="copyright-text">
      <p>2024 Focus Frame</p>
      <p>All rights reserved</p>
    </div>
  </div>
</footer>
