<header class="header">
  <div class="container">
    <div>
      <a class="nav-logo" href="./index.html" aria-label="Site logo">
        <svg class="nav-logo-icon" width="123" height="16">
          <use xlink:href="../img/sprite.svg#icon-logo"></use>
        </svg>
      </a>
      <a>
        <svg width:="16" height="16"> 
          <use xlink:href="../img/sprite.svg#icon-camera"></use>
        </svg> 
      </a>
      <input type="checkbox" id="menu-toggle" class="menu-toggle" hidden />
      <label for="menu-toggle" class="menu-icon-label" aria-label="Open menu">
        <svg class="menu-icon" width="16" height="16">
          <use xlink:href="../img/sprite.svg#icon-nav"></use>
        </svg>
      </label>
      <nav class="mobile-menu">
        <label for="menu-toggle" class="close-btn" aria-label="Close menu"
          ><svg width="16" height="16">
            <use xlink:href="../img/sprite.svg#icon-close"></use>
          </svg>
        </label>
        <ul class="page-nav">
          <li><a href="#about" class="link">ABOUT US</a></li>
          <li><a href="#courses" class="link">OUR COURSES</a></li>
          <li><a href="#mentors" class="link">OUR MENTORS</a></li>
          <li><a href="#reviews" class="link">REVIEWS</a></li>
          <li><a href="#contacts" class="link">CONTACTS</a></li>
        </ul>
      </nav>

      <nav class="desktop-menu">
        <ul class="page-nav">
          <li><a href="#about" class="link">ABOUT US</a></li>
          <li><a href="#courses" class="link">OUR COURSES</a></li>
          <li><a href="#mentors" class="link">OUR MENTORS</a></li>
          <li><a href="#reviews" class="link">REVIEWS</a></li>
          <li><a href="#contacts" class="link">CONTACTS</a></li>
        </ul>
      </nav>
    </div>
    <input class="button" type="button" value="Sign Up" />
  </div>
</header>
