<div class="container">
  <section class="hero">
    <h1>
      Discover the magic of <span class="highlight">photography</span> in our
      school
    </h1>
    <p class="description">
      Our photography school offers an unforgettable journey, where you can
      learn the basics of composition, master technical skills, translate your
      unique ideas.
    </p>

    <div class="happy-students">
      <ul class="characters">
        <li class="character">
          <img
            class="character-1"
            src="./img/girl-1.jpg"
            alt="Happy students in a photography class"
          />
        </li>
        <li class="character">
          <img
            class="character-2"
            src="./img/boy.jpg"
            alt="Happy students in a photography class"
          />
        </li>
        <li class="character">
          <img
            class="character-3"
            src="./img/girl.jpg"
            alt="Happy students in a photography class"
          />
        </li>
      </ul>

      <div class="students">
        <a class="link" href="./Reviews.com" target="_blank"
          >Our happy students
        </a>
        <svg class="icon-arrow" width="16" height="16">
          <use xlink:href="./img/sprite.svg#icon-arrow-right"></use>
        </svg>
      </div>
      <div class="review">
        <label class="icon-border">
          <svg class="icon">
            <use xlink:href="./img/sprite.svg#icon-star"></use>
          </svg>
        </label>

        <p class="reviews">Reviews <span class="number">+1500</span></p>
      </div>
    </div>
    <img
      class="hero-img"
      src="img/hero-img.png"
      alt="Hero image of a photography class"
    />
  </section>
</div>
