<!-- Reviews Section -->
<section id="reviews">
  <div class="container">
    <h2 class="section-reviews">
      <span class="section-reviews-title">Reviews</span>
    </h2>
    <div class="reviews-grid">
      <div class="reviews-scroll">
        <div class="review-card">
          <div class="review-header">
            <div class="review-info">
              <img
                class="review-avatar"
                src="./img/user.jpg"
                alt="Abraham Baker"
              />
              <div class="review-name-box">
                <h4 class="review-name">Abraham Baker</h4>
                <span class="review-role">Student</span>
              </div>
            </div>
            <div class="review-stars">
              <svg
                class="icon-star"
                width="20"
                height="20"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg
                class="icon-star"
                width="20"
                height="20"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg
                class="icon-star"
                width="20"
                height="20"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg
                class="icon-star"
                width="20"
                height="20"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="iconn-star-full" width="21" height="21">
                <use href="./img/sprite.svg#icon-star-full"></use>
              </svg>
            </div>
          </div>
          <p>
            I am very pleased that I decided to enroll in photography school.
            The teachers turned out to be very talented and experienced
            professionals who share their knowledge and are dedicated to their
            work. I was able to expand my skills and discover my own style.
          </p>
        </div>

        <div class="review-card">
          <div class="review-header">
            <div class="review-info">
              <img
                class="review-avatar"
                src="./img/user-1.jpg"
                alt="Amanda Lowery"
              />
              <div class="review-name-box">
                <h4 class="review-name">Amanda Lowery</h4>
                <span class="review-role">Student</span>
              </div>
            </div>
            <div class="review-stars">
              <svg
                class="icon-star"
                width="20"
                height="20"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg
                class="icon-star"
                width="20"
                height="20"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg
                class="icon-star"
                width="20"
                height="20"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
             <svg
                class="icon-star"
                width="20"
                height="20"
              >
                <use href="./img/sprite.svg#icon-star"></use>
              </svg>
              <svg class="icon-star-full" width="20" height="20">
                <use href="./img/sprite.svg#icon-star-full"></use>
              </svg>
            </div>
          </div>
          <p>
            The courses at the photography school exceeded all my expectations.
            I gained not only technical knowledge, but also inspiration and
            motivation to reach new heights in my creativity. Hands-on classes
            and workshops helped me understand different styles of photography.
          </p>
        </div>
      </div>
    </div>
  </div>
</section>
