#about {
  margin-top: 50px;
  margin-bottom: 130px;
  height: 630px;
}

#about .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  max-width: 1080px;
  height: 100%;
  margin: 0 auto;
}

.section-title {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: -1px;
  line-height: 1.2;
  color: #fff;
  z-index: 10;
  max-width: 90vw;
  margin-left: 20px;
}

.section-about {
  color: #ffffff;
}

.section-us {
  color: #bea69e;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 40px;
  gap: 24px;
  box-sizing: border-box;
  padding: 0 5px 5px;
}

.about-image {
  width: 335px;
  height: 209px;
  border-radius: 1000px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.about-image img {
  object-fit: cover;
  border-radius: 0;
  display: block;
  position: relative;
  margin: 0 auto;
  transform: translateY(40px);
}

.about-text {
  display: flex;
  flex-direction: column;
  width: 335px;
  height: 192px;
  max-width: 100%;
  gap: 16px;
  text-align: center;
  box-sizing: border-box;
}

.about-paragraphs {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}

.about-paragraphs p {
  font-size: 14px;
  line-height: 18px;
  margin: 0;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: #fff;
  text-align: left;
}

@media (min-width: 768px) {
  #about {
    margin-top: 100px;
  }

  .section-title {
    font-size: 42px;
    margin-left: 32px;
  }

  .about-container {
    gap: 40px;
  }

  .about-image {
    width: 704px;
    height: 340px;
    justify-content: flex-start;
  }

  .about-image img {
    object-fit: cover;
    border-radius: 0;
    transform: translateY(40px);
    top: 0;
  }

  .about-text {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 600px;
    height: 245px;
    gap: 40px;
    text-align: left;
  }

  .about-paragraphs {
    display: flex;
    flex-direction: row;
    gap: 40px;
  }

  .about-paragraphs p {
    flex: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
  }
}

/* ---------- DESKTOP ---------- */
@media (min-width: 1280px) {
  #about {
    height: 364px;
    gap: 40px;
    margin-top: 150px;
  }

  .section-title {
    font-size: 48px;
    margin-left: 0;
  }

  .about-container {
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 40px;
    margin-top: 50px;
  }

  .about-image {
    width: 488px;
    height: 260px;
    justify-content: center;
  }

  .about-image img {
    position: static;
    width: 100%;
    height: auto;
    transform: translateY(60px);
  }
  
  .about-text {
    width: 552px;
    height: 260px;
  }

  .about-paragraphs {
    display: flex;
    flex-direction: row;
    gap: 20px;
  }

  .about-paragraphs p {
    flex: 1;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: -2%;
  }
}
