/* ---------- BODY & GLOBAL STYLES ---------- */
body {
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 80px;
  background-color: #1a1a1a;
  font-family: "DM Sans", sans-serif;
  color: #fff;
  scroll-behavior: smooth;
  opacity: 1;
}

/* ---------- ABOUT US ---------- */
#about {
  padding: 60px 20px;
}

.section-title {
  font-family: "DM Sans", sans-serif;
  font-size: 36px;
  font-weight: 700;
  letter-spacing: -0.04em;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 40px;
}

.section-about {
  color: #ffffff;
}

.section-us {
  color: #bea69e;
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.about-image {
  width: 100%;
  max-width: 520px;
}

.about-image img {
  width: 100%;
  height: auto;
  border-radius: 250px;
  object-fit: cover;
  display: block;
  align-items: center;
}

.about-text {
  width: 100%;
  max-width: 700px;
  gap: 40px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.about-paragraphs {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 40px;
}

.about-paragraphs p {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: -0.02em;
  color: #ccc;
}
/* ---------- TABLET STYLES ---------- */
@media (min-width: 768px) {
  body {
    max-width: 768px;
    height: 5511px;
  }

  .section-title,
  .section-our-mentors {
    font-size: 42px;
    text-align: left;
    margin-left: 40px;
  }

  .about-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 60px;
  }

  .about-text {
    text-align: left;
  }

  .about-paragraphs {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 40px;
  }

  .about-paragraphs p {
    flex: 1 1 280px;
    max-width: 600px;
  }

  .mentors-grid {
    grid-template-columns: repeat(2, 1fr); 
    gap: 32px;
    padding: 0 20px;
  }
}

/* ---------- DESKTOP STYLES ---------- */
@media (min-width: 1024px) {
  body {
    max-width: 1440px;
    height: 4391px;
  }

  .section-title,
  .section-our-mentors {
    font-size: 48px;
    margin-left: 100px;
  }

  .about-container {
    gap: 80px;
    flex-direction: row;
  }

  .mentors-grid {
    grid-template-columns: repeat(4, 1fr); 
    gap: 40px;
  }
}
