:root {
  font-family: 'DM Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;

  color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: black;
  gap: 20px;
}

main {
  flex-grow: 1;
}
main:has(.back-link) {
  text-align: center;
}

.background {
  background-image: url('../img/Graphic.png');
  background-repeat: repeat;
  width: 100%;
  max-height: 1120px;
}
.background-footer {
  background-image: url('../img/Graphic.png');
  background-repeat: repeat;
  width: 100%;

  max-height: 535px;
  border-top: 1px solid rgba(255, 255, 255, 0.2);
}

@media screen and (min-width: 768px) {
  body {
    gap: 100px;
  }
}

@media screen and (min-width: 1280px) {
  body {
    gap: 150px;
  }
}
