.container {
  margin: 20px;
}
@media only screen and (min-width: 768px) {
  .container {
    margin-left: 32px;
    margin-right: 32px;
  }
}
@media only screen and (min-width: 1200px) {
  .container {
    margin-left: 100px;
    margin-right: 100px;
  }
}
