.footer {
  max-width: 1280px;
  margin: 0 auto;
}
.footer .icon {
  width: 123px;
  height: 16px;
  display: flex;
  margin-left: 0;
  padding-bottom: 8px;
}
.footer .contact {
  font-size: 14px;
  text-align: left;
  max-width: 295px;
  width: 100%;
  height: 46px;
}
.footer .contact-item .link2 {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0%;
  color: #fff;
  display: flex;
  margin-bottom: 10px;
}

.footer .more .link2 {
  margin-bottom: 14px;
  font-size: 14px;
}

.footer .more {
  display: flex;
  margin-top: 40px;
  font-size: 14px;
  color: #fff;
  height: 146px;
}

.footer .more .social-item {
  margin-bottom: 10px;
}

.footer .more .menu-item {
  margin-bottom: 10px;
}

.footer .more .menu {
  margin-left: 40px;
}

.footer .request-input {
  max-width: 267px;
  height: 60px;
  padding: 0 10px;
  border-radius: 12px;
  background-color: #fff;
  font-size: 16px;
  margin-left: 0px;
  margin-right: 8px;
  border: none;
}
.footer .request-input::placeholder {
  border: 1px solid rgba(255, 255, 255, 0.5);
}


.footer .request-button {
  width: 60px;
  height: 60px;
  background-color: #1d1d1d;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.footer .privacy {
  margin-left: 20px;
}
.footer .copyright {
  display: flex;
  margin-top: 40px;
  gap: 72px;
  color: #fff;
  padding-bottom: 20px;
}

.footer .request-form {
  margin-top: 72px;
  min-width: 335px;
}

@media (min-width: 768px) {
  .footer .module {
    display: flex;
    gap: 48px;
    justify-content: space-between;
    margin-top: 50px;
  }

  .footer .address {
    max-width: 152px;
    width: 100%;
  }

  .footer .contact-item {
    margin-bottom: 10px;
  }

  .footer .more {
    margin-top: 0;
    gap: 25px;
  }

  .footer .social-item {
    padding-bottom: 14px;
  }

  .footer .menu-item {
    padding-bottom: 14px;
  }

  .footer .request-input {
    width: 178px;
    margin: 0;
  }

  .footer .request-form {
    gap: 8px;
    min-width: 292px;
    width: 310px;
    margin-top: 0;
  }

  .footer .copyright {
    justify-content: space-between;
    padding-right: 32px;
    padding-left: 12px;
    margin-top: 74px;
  }
}

@media (min-width: 1280px) {
  .footer .request-form {
    width: 320px;
  }
  .footer .request-input {
    width: 216px;
    margin: 0;
    margin-right: 8px;
  }

  .footer .request-form {
    margin-top: 15px;
  }
  .footer .more {
    gap: 100px;
    margin-top: 15px;
  }

  .footer .copyright {
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 80px;
  }
}
