.footer .icon {
  width: 123px;
  height: 16px;
  display: flex;
  margin-left: 0;

  /* border: #0d5229 solid 1px;*/
}
.footer .contact {
  font-size: 14px;
  text-align: left;
  max-width: 287px;
  width: 100%;
  height: 46px;
}
.footer .contact-item .link {
  font-size: 14px;
}

.footer .more {
  display: flex;
  margin-top: 40px;
  font-size: 14px;
}

.footer .more .menu {
  margin-left: 40px;
}

.footer .request-input {
  width: 267px;
  height: 60px;
  padding: 0 10px;
  border: 1px solid #ccc;
  border-radius: 12px;
  background-color: #fff;
  font-size: 16px;
  margin-left: 20px;
}

.footer .request-button {
  width: 60px;
  height: 60px;
  background-color: #1d1d1d;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
}
.footer .privacy {
  margin-left: 20px;
}
.footer .copyright {
  display: flex;
  margin-top: 40px;
  gap: 72px;
  color: #fff;
  padding-bottom: 20px;
}

.footer .request-form {
  margin-top: 72px;
}

@media (min-width: 768px) {
  .footer .module {
    display: flex;
    gap: 48px;
    justify-content: space-between;
    margin-top: 50px;
  }

  .footer .address {
    max-width: 152px;
    width: 100%;
  }

  .footer .contact-item {
    margin-bottom: 10px;
  }

  .footer .more {
    margin-top: 0;
    gap: 25px;
  }

  .footer .social-item {
    padding-bottom: 14px;
  }

  .footer .menu-item {
    padding-bottom: 14px;
  }

  .footer .request-input {
    width: 178px;
    margin: 0;
  }

  .footer .request-form {
    gap: 8px;
    width: 266px;
    margin-top: 0;
  }

  .footer .copyright {
    justify-content: space-between;
    padding-right: 32px;
    padding-left: 12px;
    margin-top: 74px;
  }
}

@media (min-width: 1280px) {
  .footer .request-form {
    width: 320px;
  }
  .footer .request-input {
    width: 216px;
    margin: 0;
    margin-right: 8px;
  }
  .footer .more {
    gap: 100px;
  }

  .footer .copyright {
    justify-content: space-between;
    padding-right: 100px;
    padding-left: 80px;
  }
}
