.nav-bar {
  display: flex;
  justify-content: flex-start;
  gap: 12px;
  align-items: center;
  padding: 15px 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  box-sizing: border-box;
}
.nav-logo {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.camera-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  height: 32px;
  background-color: #1d1d1d;
  border-radius: 50%;
  margin-left: auto;
  opacity: 0.4;
  transition: opacity 0.3s ease;
}
.camera-icon:hover {
  opacity: 1;
  cursor: pointer;
}

.menu-icon {
  width: 32px;
  height: 22px;
  fill: white;
  stroke: white;
  z-index: 10;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  width: 218px;
  height: 812px;
  background-color: #bea69e;
  background-size: contain;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.3s ease;
  z-index: 9998;
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 9990;
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.3s ease;
}
.menu-toggle:checked ~ .overlay {
  opacity: 1;
  pointer-events: auto;
}

.camera-img {
  width: 100%;
  height: auto;
  position: fixed;
  object-fit: cover;
  bottom: 0;
}

.menu-icon-label {
  margin-right: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.close-btn {
  display: flex;
  justify-content: flex-end;
  stroke: black;
  margin-right: 20px;
  margin-top: 20px;
  cursor: pointer;
  z-index: 9999;
}

.close-btn:hover .close-btn:focus {
  stroke: white;
  transition: stroke 0.3s ease;
}
.mobile-menu ul {
  list-style: none;
  padding-left: 20px;
  padding-top: 128px;
  margin: 0;
}
.page-nav {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.nav-link {
  color: #121212;
  text-decoration: none;
  line-height: 28px;
  font-weight: 400;
  font-size: 14px;
}
.nav-link:hover {
  font-weight: bold;
}

.menu-toggle:checked ~ .mobile-menu {
  transform: translateX(0);
}
.button {
  display: none;
  color: #121212;
  background-color: white;
  width: 186px;
  height: 60px;
  border-radius: 12px;
  font-size: 18px;
  line-height: 28px;
  justify-content: center;
  align-items: center;
  font-weight: bold;
}
.button:hover {
  background-color: #1d1d1d;
  color: #bea69e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.desktop-menu {
  display: none;
}
@media screen and (min-width: 768px) {
  .header .container {
    gap: 20px;
    display: flex;
    justify-content: flex-start;
  }
  .mobile-menu {
    display: flex;
    width: 480px;
    height: 1024px;
  }
  .mobile-menu ul {
    padding-top: 172px;
    padding-left: 64px;
  }
  .mobil-menu .page-nav {
    display: flex;
    flex-direction: column;
    padding-left: 64px;
    padding-top: 232px;
    gap: 28px;
  }
  .camera-img {
    padding-top: 114px;
  }
  .desktop-menu {
    display: none;
  }
  .camera-icon {
    display: none;
  }
  .button {
    display: flex;
  }
  .nav-bar {
    width: 100%;
    justify-content: space-between;
  }

  .menu-icon {
    width: 40px;
    height: 28px;
  }
}
@media screen and (min-width: 1280px) {
  .mobile-menu {
    display: none;
  }
  .menu-toggle {
    display: none;
  }

  .desktop-menu {
    display: flex;
  }
  .button {
    display: flex;
  }
  .menu-icon {
    display: none;
  }
  .nav-bar {
    width: 100%;
    justify-content: space-between;
    color: white;
  }
  .page-nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
  }
  .nav-link {
    color: white;
    text-decoration: none;
    line-height: 14px;
    font-weight: 400;
    font-size: 14px;
  }
}
