.hero {
  background-color: #1d1d1d;
  color: #fff;
  text-align: center;
  width: 100%;
  max-width: 768px;
  height: 777px;
  border-radius: 30px;
  box-sizing: border-box;
  position: relative;
  padding-left: 20px;
  padding-right: 62px;
  margin-bottom: 100px;
  margin:0 auto;
  

  /* border: 1px solid red;*/
}

.hero h1 {
  font-family: 'DM Sans', sans-serif;
  text-align: left;
  font-size: 40px;
  font-weight: 500;
  line-height: 44px;
  letter-spacing: -4%;
  padding-top: 40px;
  margin-bottom: 20px;
  max-width: 682px;
  width: 100%;
  height: 176px;

  /* border: 1px solid blue;*/
}

.highlight {
  color: #bea69e;
  font-style: italic;
  font-weight: 400;
  font-size: 40px;
}

.description {
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  color: #b0b0b0;
  margin-top: 20px;
  text-align: left;
  height: 72px;
  max-width: 682px;
  width: 100%;
  margin-bottom: 0;
  margin-bottom: 35px;

  /*  border: 1px solid purple;*/
}
.happy-students {
  max-width: 777px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: left;
  height: 84px;
  position: relative;
  justify-content: space-between;

   /*border: 1px solid green;*/
}
.characters {
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: left;
  align-items: left;
  padding-left: 14px;
  margin-top: 0px;
  margin-bottom: 0px;

  /* border: 1px solid purple;*/
}
.character {
  width: 54px;
  border-radius: 50%;
  overflow: hidden;
  margin-left: -14px;

  /* border: 1px solid orange;*/
}
.character img {
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  margin: 0;
}
.character-1 {
  position: sticky;
  z-index: 999;
}
.character-2 {
  position: sticky;
  z-index: 998;
}
.character-3 {
  position: sticky;
  z-index: 997;
}
.students {
  width: 89px;
  height: 36px;
  display: flex;
  flex-direction: column;
  line-height: 18px;

  /*border:1px solid chartreuse;*/
}
.icon-arrow {
  fill: #fff;
  width: 30px;
  height: 8, 66px;
  padding: 0;
  display: flex;
  position: absolute;
  margin-left: 91px;
  margin-top: 13.67px;

  /*border: 1px solid blue;*/
}

.link {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  font-size: 16px;
  text-align: left;
  padding-top: 4px;

  /*  border: 1px solid yellow;*/
}

.icon-border {
  width: 44px;
  height: 44px;
  background-color: #bea69e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon {
  width: 20px;
  height: 20px;
  margin: 12px;

  /* border: 1px solid white;*/
}

.review {
  width: 104px;
  height: 44px;
  display: flex;
  gap: 12px;
  /*margin-left: 40px;*/
  position: absolute;
  right: 0;

  /*border: 1px solid white;*/
}
.reviews {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff80;
  height: 44px;
  padding: auto ;
  text-align: left;

 /* border:  1px solid brown;*/
}
.hero .number {
  box-sizing: border-box;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  width: 50px;
  height: 16px;
  margin: 0;
  padding: 0;
  text-align: left;
 
 

   /*border: 1px solid pink;*/
}

.hero-img {
  width: 259px;
  height: 314px;
  margin: 0 auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 0;
  margin-top: auto; /* Üstteki boşluğu kaldırır */
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);

  /* border: green 1px solid;*/
}











/* min width 768 px   tablet mod */

@media (min-width: 768px) {
  .hero {
    width: 100%;
    height: 100%;
    height: 900px;
    max-width: 1280px;
    /*border: 1px solid red;*/
  }

  .hero h1 {
    font-size: 48px;
    line-height: 56px;
    width: 100%;
    max-width: 1093px;
    font-size: 60px;
    margin-left: 32px;
  }

  .description {
    font-size: 16px;
    line-height: 24px;
    width: 100%;
    max-width: 994px;
    margin-left: 32px;
    font-size: 14px;
    line-height: 18px;
  }

  .happy-students {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    max-width: 1280px;
    height: 54px;

    margin-left: 32px;

    /*border: 1px solid yellow;*/
  }

  .characters {
    display: flex;
    align-items: center;
    list-style: none;
    justify-content: left;
    align-items: left;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

    /* border: 1px solid yellowgreen;*/
  }

  .students {
    width: 100%;
    max-width: 82px;
    height: 100%;
    max-height: 56px;
    display: flex;
    position: absolute;
    left: 149px;

    /* border: 1px solid blue;*/
  }

  .icon-arrow {
    width: 35px;
    height: 25px;
    position: absolute;
    bottom: -10px;
    left: -100px;

    /* border: 1px solid white;*/
  }

  .hero-img {
    width: 390px;
    height: 454px;
  }

  .review{
    width: 119px;
    
    justify-content: space-between;

   /* border: 1px solid rosybrown;*/

  }
  .reviews {
    display: flex;
    flex-direction: column;
   
    /* border: 1px solid brown;*/
  }
  .icon-border {
  width: 44px;
  height: 44px;
  background-color: #bea69e;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid rebeccapurple;
}


}

/* min width 1280 px   desktop mod */

@media (min-width: 1280px) {
  .hero {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    height: 600px;

    /*  border: 1px solid red;*/
  }
  .hero h1 {
    font-size: 64px;
    line-height: 68px;
    width: 100%;
    max-width: 563px;
    margin-left: 50px;
  }
  .highlight {
    font-size: 64px;
  }

  .description {
    width: 100%;
    max-width: 418px;
    padding-top: 20px;
    margin-left: 50px;

    /*border: 1px solid blue;*/
  }

  .happy-students {
    display: flex;
    flex-direction: row;
    gap: 40px;
    width: 100%;
    max-width: 388px;
    height: 56px;
    margin-left: 50px;

    position: absolute;
    bottom: 50px;

    /* border: 1px solid yellow;*/
  }

  .hero-img {
    width: 393px;
    height: 520px;
    position: absolute;
    right: -150px;
    bottom: 0;
    margin-right: 0px;

    /*border: 1px solid green;*/
  }

  .icon-arrow {
    width: 50px;
    height: 25px;
    position: absolute;
    bottom: -10px;

    /* border: 1px solid white;*/
  }
}
