p {
  color: #ffff;
  font-size: 14px;
}

.color-word {
  color: #bea69e;
}
.pragraph {
  padding: 20px 0 41px 0;
  justify-content: flex-start;
  max-width: 480px;
}
.form {
  padding-bottom: 32px;
}
.form-label {
  position: relative;
  display: flex;
  flex-direction: column;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  justify-content: flex-end;
  max-width: 480px;
  margin-bottom: 8px;
}

.form-input {
  padding: 14px 0 14px 18px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  background: transparent;
  color: #ffff;
}

.textarea {
  resize: none;
  padding: 14px 0 14px 18px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 12px;
  background: transparent;
  color: #ffff;
}
.info {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  margin-top: 16px;
  max-width: 480px;
}

.send-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 480px;
  height: 48px;
  background-color: #ffff;
  border-radius: 12px;
  color: #000;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  cursor: pointer;
}
.send-btn:hover {
  background-color: #1d1d1d;
  color: #bea69e;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.img-container {
  display: none;
}

@media screen and (min-width: 1280px) {
  .img-container {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 540px;
    height: 540px;
  }
  .lens-container {
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .camera-container {
    position: absolute;
    bottom: 0;
    right: 0;
  }
  .sign-up {
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
  }
  .img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

    flex-wrap: wrap;
  }

  .lens-container,
  .camera-container {
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 1000px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .lens-container {
    width: 180px;
    height: 288px;
    background-color: #bea69e;
  }

  .camera-container {
    width: 340px;
    height: 538px;
    background-color: #1d1d1d;
  }

  img {
    object-fit: cover;
    display: block;
  }
  .lens {
    transform: translateY(7px);
  }
  .camera {
    transform: translateY(34px);
  }
}
